#location-section {
  margin-top: 50px;
  width: 90vw;
  min-width: 350px;
  background-color: rgba(20,20,20, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}