.section-title {
  margin: 20px;
  padding: 20px 0;
  width: 100%;
  color: white;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.9);
}

.section-title {
  font-weight: 600;
  font-size: 1.4em;
}

@media (min-width: 600px) {
  .section-title {
    font-weight: 600;
    font-size: 1.6em;
  }
}

@media (min-width: 1000px) {
  .section-title {
    font-weight: 600;
    font-size: 1.8em;
  }
}