footer {
  padding: 15px 0;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  min-width: 350px;
  background-color: rgba(20,20,20, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  color: white;
  font-size: 14px;
}

footer h3 {
  margin: 0;
  /* margin-bottom: 20px; */
  font-weight: 300;
  font-size: 14px;
}

footer span {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Iceland', cursive;
}

footer nav {
  margin: 20px;
}

footer > p {
  padding: 0;
  margin: 0;
}

footer > nav > a {
  margin: 0 10px;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

@media (min-width: 600px) {
  footer, footer h3 {
    font-size: 16px;
  }
  footer span {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  footer, footer h3 {
    font-size: 18px;
  }
  footer span {
    font-size: 36px;
  }
}