.navbar {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  min-width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  padding-top: 10px;
  padding-bottom: 20px;
}

.logo-icon {
  width: 30px;
}

.logo-icon-home {
  background-color: rgba(20, 20, 20, 50);
  border-radius: 30px;
  border: 1px solid white;
  padding: 10px;
  width: 30px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  right: 30px;
}

.menu-icon {
  width: 30px;
}

/* lista inicialmente oculta */
.navbar > ul {
  display: none;
  color: white;
  list-style: none;
}

.navbar > ul > li {
  /* padding: 10px 25px; */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.navbar > ul > li > a {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border:1px solid rgba(255, 255, 255, 0);
}

.navbar > ul > li > a:visited {
  color: white;
}

.navbar > ul > li > a:hover {
  border:1px solid rgba(255, 255, 255, 0.20);
}

/* a partir de 900px ou mais desativa o menu em formato de ícone  */
/* mudando para o menu em formato de lista */
@media (min-width: 1000px) {
  .menu-icon {
    display: none;
  }

  .navbar > ul {
    display: flex;
  }
}