.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  padding-top: 10px;
  padding-bottom: 20px;
}

.logo-icon {
  width: 30px;
  text-transform: uppercase;
}

.menu-icon {
  width: 30px;
}

/* lista inicialmente oculta */
.navbar > ul {
  display: none;
  color: white;
  list-style: none;
}

.navbar > ul > li {
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.navbar > ul > li > a {
  text-decoration: none;
}

.navbar > ul > li > a:visited {
  color: white;
}

.navbar > ul > li:hover {
  text-decoration: underline;
}

/* a partir de 900px ou mais desativa o menu em formato de ícone  */
/* mudando para o menu em formato de lista */
@media (min-width: 1000px) {
  .menu-icon {
    display: none;
  }

  .navbar > ul {
    display: flex;
  }
}